<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
    <div id="map-bubl-dive"></div>
    <script>
      function initMap() {
        var saveMarker = null;

        var map = new google.maps.Map(document.getElementById('map-bubl-dive'), {
          zoom: 6,
          center: {lat: <%= dive_lat %>, lng: <%= dive_long %>}
        });

        map.addListener('click', function(e) {
          if (saveMarker !== null){
              saveMarker.setMap(null);
              saveMarker = null;
          }
          var marker = new google.maps.Marker({
            position: {lat: e.latLng.lat(), lng: e.latLng.lng()},
            icon: 'http://maps.google.com/mapfiles/ms/icons/pink-dot.png',
            animation: google.maps.Animation.BOUNCE,
    //                animation: google.maps.Animation.DROP,
            map: map
          });
          saveMarker = marker;
          $('input[name="dive[latitude]"]').val(e.latLng.lat());
          $('input[name="dive[longitude]"]').val(e.latLng.lng());
        });
      }
    </script>
    <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZuRqWqKV7OQtNH8MXE1GF1RkqrLolUDM&callback=initMap">
    </script>
    <%= form_for :dive, url: {controller: 'dives', action: action}, method: method_var do |f| %>
      <% if @dive.errors.any? %>
        <div id="errors">
          <h2><%= pluralize(@dive.errors.count, "error") %> prevented this dive from saving </h2>
          <ul>
            <% @dive.errors.full_messages.each do |msg| %>
              <li> <%= msg %></li> 
            <% end %> 
          </ul>
        </div>
      <% end %>
<!--       <input id="trixie" type="hidden" name="content">
      <trix-editor input="trixie"></trix-editor> -->
      <p>
        <%= f.text_field :latitude, placeholder: "latitude" %>
        <%= f.text_field :longitude, placeholder: "longitude" %>
      </p>
      <p>
        <%= f.label :dive_date, 'date' %> <%= f.date_field :dive_date%>
        <%= f.label :location, 'location' %> <%= f.text_field :location%></p>
      <p> <%= f.label :time_in, 'time in' %> <%= f.time_field :time_in%> <%= f.label :time_out, 'time out' %> <%= f.time_field :time_out%>
      </p>
      <p>
        <%= f.label :depth, 'depth' %> <%= f.number_field :depth%> <%= f.label :safety_stop_minutes, 'safety stop in minutes' %> <%= f.number_field :safety_stop_minutes%> </p>
      <p><%= f.label :activity, 'activity' %> <%= select_tag :dive_type_ids, options_for_select(DiveType.all.collect {|dt| [dt.activity, dt.id]}),:multiple => true,  :activity=>'[dive_type_ids][]' %>
      </p>
      <p>
        <%= f.label :pressure_in, 'pressure in' %> <%= f.number_field :pressure_in%> <%= f.label :pressure_out, 'pressure out' %> <%= f.number_field :pressure_out%>
      </p>
      <p>
        <%= f.label :temperature_air, 'temperature air' %> <%= f.number_field :temperature_air%> <%= f.label :temperature_water, 'temperature water' %> <%= f.number_field :temperature_water%>
      </p>
      <p>
      <%= f.label :comments, 'comments' %> <%= f.trix_editor :comments %> <%= f.label :buddies, 'buddies' %> <%= f.text_field :buddies %> 
      </p>

      <%= f.submit "save dive", class: "btn-bubl form-control" %>
    <% end %>
  </div>
</div>
